.wp-block-navigation .has-child .wp-block-navigation__submenu-container>.wp-block-navigation-item>.wp-block-navigation-item__content{
width: 300px;
}

.acf-view__active-label,
.acf-view__type-label, .acf-view__grade-level-label, .acf-view__frequency-label, .acf-view__requirements-label, .acf-view__impact-label, .acf-view__resources-label{
font-weight:bold;
margin-bottom:0px!important;
}

.wp-container-core-group-is-layout-6 .wp-block-post-terms{
margin-top:-3px!important;
}

@media (max-width: 1024px) {
  .wp-block-post-featured-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.wp-block-post-featured-image{
max-height: 300px!important;
display: block;
width: 100%;
}

@media (max-width: 1024px) {
.wp-block-group.is-nowrap.is-layout-flex.wp-container-core-group-is-layout-8.wp-block-group-is-layout-flex {
flex-direction: column;
width: 100%;
}
}

@media (max-width: 1024px) {
  .attachment-post-thumbnail {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.attachment-post-thumbnail{
max-height: 300px!important;
display: block;
width: 100%;
}

@media (max-width: 1024px) {
.attachment-post-thumbnail {
flex-direction: column;
width: 100%;
}
}

.summary {
    gap: 10px;
    row-gap: 10px!important;
    column-gap: 30px;
}

.wp-container-core-group-is-layout-dc3cd236 .wp-block-post-terms a {
margin:0 -20px!important;
text-decoration:none!important;
font-weight:bold!important;
}

.wp-container-core-group-is-layout-dc3cd236 .wp-block-heading {
margin: 0px 5px 4px 0px!important;
}

#digital_signature-pad_signature-641, #digital_signature-pad_signature-627 {
height: 200px;
width: 600px;
overflow:visible;
z-index:100;
}

.tinytext {
font-size:8pt;
color:gray;
line-height:1em!important;
}

.wpcf7-form p {
margin:0 0 10px 0;
line-height:1em!important;
}
